In [1]:
import pandas as pd

df = pd.read_excel('../downloads/comprobantes_emitidos.xlsx', sheet_name='Sheet1')

In [3]:
df[df["Unnamed: 3"] == 3329]

,Mis Comprobantes Emitidos - CUIT 30714894346,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
46,17/11/2025,1 - Factura A,2,3329,3329,75466235120607,CUIT,30615265450,NEW PGA S. R. L.,1,...,6714.92,31975.81,NaN,NaN,460910.48,14317.68,0,0,51753.06,526981.21