Librerias

In [ ]:
#LIBRERIAS DEL PROYECTO

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import os

#Este es driver que va a navegar.
driver = webdriver.Chrome()

# Función para iniciar sesión
arancia_url = 'http://arancia-001-site1.btempurl.com/'

driver.get(arancia_url)
time.sleep(3)

# Entrar a la Web
element = driver.find_element(By.ID,"Button1")
element.click()
time.sleep(3)

# Colocar las claves
element = driver.find_element(By.ID, 'TextBox1')
element.send_keys('FRANCESC')
element = driver.find_element(By.ID, 'TextBox2')
element.send_keys('n4r4nj4720')

# click en entrar
element = driver.find_element(By.ID,"Button1")
element.click()
time.sleep(3)

# clickear en la pestaña de "facturación"
element = driver.find_element(By.ID,"Button10")
element.click()
time.sleep(3)

# clickear en la sub-pestaña de "facturación" (para cargar facturas de ventas)
driver.switch_to.frame('facturacion')
element = driver.find_element(By.ID,"Button5")
element.click()
time.sleep(1)

driver.switch_to.frame('marco')

# Quitar check de "aéreo"
element = driver.find_element(By.ID,"CheckBoxList1_0")
element.click()
time.sleep(2)

# Poner check en "manual"
element = driver.find_element(By.ID,"CheckBoxList1_3")
element.click()
time.sleep(2)

# Buscar el input de IVAS
element = driver.find_element(By.ID, "contar")

# Seleccionar todo el texto actual
element.send_keys(Keys.CONTROL, "a")
time.sleep(0.2)

# Escribir el nuevo valor (3 por la información que manejamos)
element.send_keys("3")

# Disparar el evento de cambio usando TAB (como si el usuario saliera del campo)
element.send_keys(Keys.TAB)
time.sleep(3)

# Valores específicos para cada campo
valores = {
    "ivasa1": "0",
    "ivasa2": "10.5"  # con punto, ojo a la compa que rompe la página
}

for field_id, valor in valores.items():
    element = driver.find_element(By.ID, field_id)

    # Escribir directamente el nuevo valor (sin dejar el campo vacío)
    element.send_keys(Keys.CONTROL, 'a')
    element.send_keys(valor)
    element.send_keys(Keys.TAB)
    time.sleep(3)

for index, row in clean_data.iterrows():
    # TOTAL_NO_GRAVADO
    elem = driver.find_element(By.ID, 'total1')
    elem.send_keys(Keys.CONTROL, 'a')  # Selecciona todo
    elem.send_keys(row['TOTAL_NO_GRAVADO'])  # Sobreescribe
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    # TOTAL_10.5
    elem = driver.find_element(By.ID, 'total2')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['TOTAL_10.5'])
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    # TOTAL_21
    elem = driver.find_element(By.NAME, 'total3')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['TOTAL_21'])
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    driver.find_element(By.ID, "Button2").click()
    time.sleep(3)

    # RAZON SOCIAL
    elem = driver.find_element(By.NAME, 'TextBox3')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['Cliente'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)

    # CUIT
    elem = driver.find_element(By.NAME, 'TextBox4')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['CUIT'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)   

    # Factura NÚMERO
    elem = driver.find_element(By.NAME, 'TextBox6')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['Factura'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)  

    # Clase
    elem = driver.find_element(By.NAME, 'TextBox7')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['tipo3_new'])
    elem.send_keys(Keys.TAB)
    elem = driver.find_element(By.NAME, 'TextBox8')   
    elem.send_keys(row['Fecha'])
    time.sleep(1)

    # Click en Grabar
    driver.find_element(By.ID, "Button5").click()
    time.sleep(2)

Iniciar sesión

In [4]:
# Función para iniciar sesión
arancia_url = 'http://arancia-001-site1.btempurl.com/'

driver.get(arancia_url)
time.sleep(3)

# Entrar a la Web
element = driver.find_element(By.ID,"Button1")
element.click()
time.sleep(3)

# Colocar las claves
element = driver.find_element(By.ID, 'TextBox1')
element.send_keys('FRANCESC')
element = driver.find_element(By.ID, 'TextBox2')
element.send_keys('n4r4nj4720')

# click en entrar
element = driver.find_element(By.ID,"Button1")
element.click()
time.sleep(3)

# clickear en la pestaña de "facturación"
element = driver.find_element(By.ID,"Button10")
element.click()
time.sleep(3)

# clickear en la sub-pestaña de "facturación" (para cargar facturas de ventas)
driver.switch_to.frame('facturacion')
element = driver.find_element(By.ID,"Button5")
element.click()
time.sleep(1)

Cambiar de frame al marco interno

In [5]:
driver.switch_to.frame('marco')

Establecer factura manual

In [6]:
# Quitar check de "aéreo"
element = driver.find_element(By.ID,"CheckBoxList1_0")
element.click()
time.sleep(2)

# Poner check en "manual"
element = driver.find_element(By.ID,"CheckBoxList1_3")
element.click()
time.sleep(2)

# Buscar el input de IVAS
element = driver.find_element(By.ID, "contar")

# Seleccionar todo el texto actual
element.send_keys(Keys.CONTROL, "a")
time.sleep(0.2)

# Escribir el nuevo valor (3 por la información que manejamos)
element.send_keys("3")

# Disparar el evento de cambio usando TAB (como si el usuario saliera del campo)
element.send_keys(Keys.TAB)
time.sleep(3)

CAMBIAR LOS IVAS

In [7]:
# Valores específicos para cada campo
valores = {
    "ivasa1": "0",
    "ivasa2": "10.5"  # con punto, ojo a la compa que rompe la página
}

for field_id, valor in valores.items():
    element = driver.find_element(By.ID, field_id)

    # Escribir directamente el nuevo valor (sin dejar el campo vacío)
    element.send_keys(Keys.CONTROL, 'a')
    element.send_keys(valor)
    element.send_keys(Keys.TAB)
    time.sleep(3)

Procesar las facturas para cargar datos

In [ ]:
import pandas as pd
import string
import numpy as np
import re

data = pd.read_excel(r'C:\Users\ThinkPad-PC\Downloads\facturas_para_cargar.xlsx', header=0, skiprows=1)

#TIPO DE FACTURA
data['codigo_fc'] = [int(re.match(r'(\d+)', x).group(1)) for x in data['Tipo']]
data['Tipo'] = data['Tipo'].astype('string').str[-9:]
data['Tipo2'] = data['Tipo'].str[:7]
data['Tipo3'] = data['Tipo'].str[-1:]

data['tipo2_new'] = np.where(data['codigo_fc'].isin([1,6,11]), "Factura", "Credito")
data['tipo2_new'] = np.where(data['codigo_fc'] == 201, "Pyme_fc", data['tipo2_new'])
data['tipo2_new'] = np.where(data['codigo_fc'] == 203, "Pyme_nc", data['tipo2_new'])

data['tipo3_new'] = np.where(data['codigo_fc'].isin([1,3,201,203]), "A", "C")
data['tipo3_new'] = np.where(data['codigo_fc'].isin([6,8]), "B", data['tipo3_new'])

data['tipo3_new']

# FACTURA
data['Punto de Venta'] = data['Punto de Venta'].astype(str).str.zfill(5)
data['Número Desde'] = data['Número Desde'].astype(str).str.zfill(8)
data['Factura'] = data['Número Desde'].astype(int)

# Cliente
data['Denominación Receptor'] = data['Denominación Receptor'].str.translate(
    str.maketrans('', '', string.punctuation))
data['Cliente'] = data['Denominación Receptor'].str[:35]

# CUIT
data['CUIT'] = data['Nro. Doc. Receptor'].astype(str)


# IMPORTES
data['NETO 10.5'] = data['Neto Grav. IVA 10,5%'] 
data['IVA 10.5'] = data['IVA 10,5%'] 
data['NETO 21'] = data['Neto Grav. IVA 21%'] 
data['IVA 21'] = data['IVA 21%'] 
data['NO GRAVADO'] = data['Neto No Gravado'] 
data['EXENTO'] = data['Op. Exentas'] 
data['IMPUESTOS'] = data['Otros Tributos']
data['NETO 0'] = data['Neto Grav. IVA 0%']
data['TOTAL_NO_GRAVADO'] = (data['NO GRAVADO'] + data['EXENTO'] + data['IMPUESTOS'] + data['NETO 0'])
data['TOTAL_10.5'] = round(data['NETO 10.5'] + data['IVA 10.5'],2)
data['TOTAL_21'] = round(data['NETO 21'] + data['IVA 21'],2)


# PONER 0 A TODAS LAS COLUMNAS QUE NO TIENEN ALGO
columnas = ['NETO 0', 'NETO 10.5', 'IVA 10.5', 'NETO 21', 'IVA 21', 'NO GRAVADO', 'EXENTO', 'IMPUESTOS',
            'IVA 2,5%', 'IVA 5%', 'IVA 27%', 'TOTAL_NO_GRAVADO', 'TOTAL_10.5', 'TOTAL_21'] 
for col in columnas: 
    data[col] = data[col].fillna(0)

# TIPO DE CAMBIO ESTE CAMBIAR PORQUE CAMBIA A FUTURO
columnas_tc = ['NETO 0','NETO 10.5', 'IVA 10.5', 'NETO 21', 'IVA 21', 'NO GRAVADO', 'EXENTO', 'IMPUESTOS', 'TOTAL_10.5', 'TOTAL_21'] 
for col in columnas_tc: 
    data[col] = data[col] * data['Tipo Cambio']

# SUMAR LO QUE NO LLEVA IVA
data['TOTAL_NO_GRAVADO'] = (data['NO GRAVADO'] + data['EXENTO'] + data['IMPUESTOS'] + data['NETO 0'])

# Convertimos las columnas a str
data['NETO 10.5'] = data['NETO 10.5'].astype(str)
data['IVA 10.5'] = data['IVA 10.5'].astype(str)
data['NETO 21'] = data['NETO 21'].astype(str)
data['IVA 21'] = data['IVA 21'].astype(str)
data['TOTAL_21'] = data['TOTAL_21'].astype(str)
data['TOTAL_10.5'] = data['TOTAL_10.5'].astype(str)

# PONER EN NEGATIVO LAS COLUMNAS QUE SON CREDITO
for col in columnas:
    mask = (data['tipo2_new'] == 'Credito') | (data['tipo2_new'] == 'Pyme_nc')
    data.loc[mask, col] = -data.loc[mask, col].astype(float)
    data[col] = data[col].astype(str)

# CREAR Y APLICAR MÁSCARA
clean = ['Fecha','tipo2_new','tipo3_new', 'Factura',
        'Cliente','CUIT', 'TOTAL_10.5', 'TOTAL_21',
        'TOTAL_NO_GRAVADO']

clean_data = data[clean]
clean_data

,Fecha,tipo2_new,tipo3_new,Factura,Cliente,CUIT,TOTAL_10.5,TOTAL_21,TOTAL_NO_GRAVADO
0,03/09/2025,Factura,B,3560,FUNDACION AVINA,55000002207,0.0,0.0,1524880.0
1,05/09/2025,Factura,B,3564,AVINA AMERICAS,55000002126,0.0,0.0,794337.5
2,12/09/2025,Factura,A,3196,VIEDMA VERONICA,27234247668,0.0,0.0,186160.0
3,16/09/2025,Factura,B,3571,AVINA AMERICAS,55000002126,0.0,0.0,2354535.0
4,22/09/2025,Factura,A,3214,GRAMMATICO ALEJANDRO DANIEL,20271310405,0.0,0.0,221250.0
5,23/09/2025,Factura,B,3576,COLEGIO DE TRADUCTORES PUBLICOS DE,30557459789,0.0,0.0,1327750.0
6,23/09/2025,Factura,B,3577,COLEGIO DE TRADUCTORES PUBLICOS DE,30557459789,0.0,0.0,707000.0
7,24/09/2025,Factura,B,3578,UNION PERSONAL DE SEGURIDAD DE LA R,30552442608,0.0,0.0,1454140.0
8,26/09/2025,Factura,B,3579,FUNDACION AVINA,55000002207,0.0,0.0,1224692.0
9,30/09/2025,Factura,B,3585,COLEGIO DE TRADUCTORES PUBLICOS DE,30557459789,0.0,0.0,110400.0

In [1]:
from afip_data_transformation import transform_afip_outbound_invoices # -> Transforma los comprobantes en formato que necesitamos
from bookit_data_transformation import procesar_outbound_html # -> Transforma el registro de afip
from data_comparison import comparar_facturas_venta # -> Compara ambos registros y devuelve una lista de los que no están actualizados
import os
import lxml
import pandas as pd
import string
import numpy as np

In [2]:
afip_data = pd.read_excel('../downloads/emitidos_octubre.xlsx', header=0, skiprows=1)

afip_data_outbound = transform_afip_outbound_invoices(afip_data)
bookit_data_outbound = procesar_outbound_html('../outbound.html')
clean_data = comparar_facturas_venta(afip_data_outbound,bookit_data_outbound,1)

✅ Archivo ../outbound.html procesado correctamente (90 filas).
⚠️  19 facturas no están cargadas en el sistema.
❌ La factura 3602 no está cargada correctamente (diferencia en totales).
✅ 19 facturas correctamente cargadas y listas para procesar.

c:\Users\ThinkPad-PC\Documents\GitHub\AFIP-nuevo\src\data_comparison.py:53: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  merged.loc[~merged['loaded'], 'totales_ok'] = np.nan
c:\Users\ThinkPad-PC\Documents\GitHub\AFIP-nuevo\src\data_comparison.py:57: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mal_cargadas = merged[(merged['loaded']) & (~merged['totales_ok'].fillna(False))]

In [8]:
clean_data

,Fecha,tipo2_new,tipo3_new,Factura,Cliente,CUIT,TOTAL_10.5,TOTAL_21,TOTAL_NO_GRAVADO
3,01/10/2025,Pyme_fc,A,212,NEWSAN SOCIEDAD ANONIMA,30642617555,0.00,911434.46,11500025.00
4,01/10/2025,Pyme_nc,A,16,NEWSAN SOCIEDAD ANONIMA,30642617555,-0.00,-911434.46,-11500025.00
24,08/10/2025,Factura,A,3251,NEXO LABORAL SRL,30715333348,0.00,0.00,2047044.00
26,08/10/2025,Factura,B,3590,COLEGIO DE TRADUCTORES PUBLICOS DE,30557459789,0.00,0.00,2065064.00
33,09/10/2025,Factura,B,3592,COLEGIO DE TRADUCTORES PUBLICOS DE,30557459789,0.00,0.00,1847202.00
34,09/10/2025,Factura,B,3591,VACA DANIEL ALBERTO,12888728,1574210.05,0.00,0.00
37,13/10/2025,Factura,A,3260,NEW PGA S R L,30615265450,630650.23,141762.91,537970.70
51,14/10/2025,Credito,C,1,CONSORCIO VECH,55000002185,-0.00,-5126173.02,-0.00
63,17/10/2025,Factura,B,3603,LA IGLESIA UNIVERSAL DEL REINO DE D,33648976289,0.00,0.00,238530.56
76,21/10/2025,Factura,A,3278,NEXO LABORAL SRL,30715333348,0.00,0.00,12869375.00
78,22/10/2025,Factura,B,3606,BARRERE MARTIN GONZALO,20178883713,0.00,0.00,3532485.00
80,23/10/2025,Factura,B,3607,UNION PERSONAL DE SEGURIDAD DE LA R,30552442608,1601999.95,0.00,0.00
81,24/10/2025,Factura,A,3284,PLATAFORMA 10 S A U,30707745580,0.00,314613.08,0.00
82,24/10/2025,Factura,B,3609,AIELLO MAXIMILIANO DANIEL,20309546696,0.00,0.00,156900.00
83,24/10/2025,Factura,B,3610,FUNDACION AVINA,55000002207,0.00,0.00,10954953.00
84,24/10/2025,Factura,B,3608,AIELLO MAXIMILIANO DANIEL,20309546696,0.00,0.00,156900.00
91,27/10/2025,Factura,B,3615,FUNDACION AVINA,55000002207,0.00,0.00,1784432.00
101,30/10/2025,Factura,A,3296,PAGANI HORACIO HECTOR,23044298929,0.00,0.00,1924240.00
107,31/10/2025,Factura,B,3616,FUNDACION AVINA,55000002207,0.00,0.00,6703956.00

Hemos logrado crear un dataset con todas las facturas que tiene el sistema, ahora solo falta que las cargue.


De aquí hacia abajo no funciona la cosa

----------------------

In [9]:
for index, row in clean_data.iterrows():
    # TOTAL_NO_GRAVADO
    elem = driver.find_element(By.ID, 'total1')
    elem.send_keys(Keys.CONTROL, 'a')  # Selecciona todo
    elem.send_keys(row['TOTAL_NO_GRAVADO'])  # Sobreescribe
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    # TOTAL_10.5
    elem = driver.find_element(By.ID, 'total2')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['TOTAL_10.5'])
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    # TOTAL_21
    elem = driver.find_element(By.NAME, 'total3')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['TOTAL_21'])
    elem.send_keys(Keys.TAB)
    time.sleep(3)

    driver.find_element(By.ID, "Button2").click()
    time.sleep(3)

    # RAZON SOCIAL
    elem = driver.find_element(By.NAME, 'TextBox3')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['Cliente'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)

    # CUIT
    elem = driver.find_element(By.NAME, 'TextBox4')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['CUIT'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)   

    # Factura NÚMERO
    elem = driver.find_element(By.NAME, 'TextBox6')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['Factura'])
    elem.send_keys(Keys.TAB)
    time.sleep(1)  

    # Clase
    elem = driver.find_element(By.NAME, 'TextBox7')
    elem.send_keys(Keys.CONTROL, 'a')
    elem.send_keys(row['tipo3_new'])
    elem.send_keys(Keys.TAB)
    elem = driver.find_element(By.NAME, 'TextBox8')   
    elem.send_keys(row['Fecha'])
    time.sleep(1)

    # Click en Grabar
    driver.find_element(By.ID, "Button5").click()
    time.sleep(2)

In [43]:
# os.remove(r'C:\Users\ThinkPad-PC\Downloads\Mis Comprobantes Recibidos - CUIT 30714894346.xlsx')